/* all common css Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "Poppins", sans-serif;
}

ul,
ol {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

img {
    vertical-align: middle;
}

/* all common css End */
/* header section style start */
#headerPart {
    padding: 25px 0;
}

.nav-link {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-left: 30px;

}

.btnS {
    color: #fff;
    background: #5E3BEE;
    padding: 15px 25px;
    border-radius: 50px;

}

.btnS i {
    padding-left: 10px;
}

/* header section style end */


/* banner section style start */
#bannerPart {
    padding: 30px 0;
    background: #F9F9FC;
}

.bannerText {
    padding-top: 120px;
}

.bannerText h4 {
    font-size: 16px;
    font-weight: 500;
    color: #5E3BEE;

}

.bannerText h1 {
    font-size: 60px;
    font-weight: 700;
    color: #333333;
    line-height: 78px;
    padding: 45px 0;
}

.btnSp {
    color: #fff;
    background: #5E3BEE;
    padding: 15px 25px;
    border-radius: 50px;
    transition: .7s;

}

.btnSp:hover {
    background: transparent;
    color: #000;
}

.download i {
    margin-right: 5px;
}

.hire i {
    margin-left: 5px;
}

.hire {
    margin-right: 15px;
}

/* banner section style end */

/* counter section style start */
#counterPart {
    padding: 50px 0;
}

.counterItem h4 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}

.counterItem h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #121212;
    opacity: .7;
}

/* counter section style end */


/* service section style start */
#servicePart {
    padding: 130px 0;
}

.serviceText h4 {
    font-size: 16px;
    font-weight: 500;
    color: #5E3BEE;
    line-height: 26px;

}

.serviceText h3 {
    font-size: 44px;
    font-weight: 600;
    line-height: 56px;
    color: #000;
    padding-top: 22px;
    padding-bottom: 24px;
}

.serviceText p {
    max-width: 587px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #121212;
    opacity: .7;
    margin: 0 auto;
    padding-bottom: 62px;
}

.serviceItem {
    padding-top: 50px;
    padding-bottom: 55px;
    border-radius: 24px;
    transition: .7s;
    box-shadow: 37px 37px 80px 0 rgba(0, 0, 0, 0.1);


}

.serviceItem:hover {
    box-shadow: 37px 37px 80px 0 rgba(0, 0, 0, 0.1);
    background: #F9F9FC;


}

.serviceItem h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #000;
    padding-top: 42px;
    padding-bottom: 22px;
}

.serviceItem p {
    width: 307px;
    font-size: 16px;
    font-weight: 400px;
    color: #121212;
    opacity: .7;
    margin: 0 auto;

}

/* service section style end */


/* experience section style start */
#experiencePart {
    height: 778px;
    background: url(../img/bannerTwo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* experience section style end */


/* client section style start */
#clientPart {
    padding: 150px 0;
}

/* client section style end */

/* portfolio section style start */
#portfolioPart {
    padding: 50px 0;
}

.portfolioTitle h4 {
    font-size: 16px;
    font-weight: 500;
    color: #5E3BEE;
    line-height: 26px;
}

.portfolioTitle h3 {
    font-size: 44px;
    font-weight: 600;
    line-height: 56px;
    color: #000;
}

.portfolioPara p {
    width: 526px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #121212;
    opacity: .7;
}

.card {
    margin: 40px 0;
    border-radius: 24px;
}

.card-img-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-body {
    padding: 38px 48px;
}

.card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #000;
}

.card-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    opacity: .5;
}

/* portfolio section style end */

/* review section style start */
#reviewPart {
    height: 469px;
    padding-top: 100px;
    padding-bottom: 80px;

    background: url("../img/bannerThree.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.reviewText h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #5E3BEE;
}

.reviewText h3 {
    font-size: 44px;
    font-weight: 600;
    line-height: 56px;
    color: #000;

    /* padding-top: 24px;
    padding-bottom: 31px; */
}

.reviewText p {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #121212;
    opacity: .7;
    width: 527px;
    margin: 0 auto;
    padding-bottom: 55px;
}

.reviewItem {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 42px;
    border-radius: 24px;
    background: #fff;
    margin-bottom: 50px;


}

.reviewItem p {
    width: 433px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    line-height: 26px;
    padding: 32px 0;
}

.reviewItem i {
    color: #EEC01C;
}

.ratingFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ratingPeople {
    display: flex;
    align-items: center;
}

.ratingPeople div {
    margin-left: 15px;
}

.ratingInfo h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #000;
}

.ratingInfo h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    opacity: .5;
}

/* review section style end */


/* contact section style start */
#contactPart {
    margin-top: 320px;
    margin-bottom: 100px;


}

.contactText {
    background: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 128px 302px;
    border-radius: 24px;
}

.contactText h3 {
    font-size: 50px;
    font-weight: 600;
    line-height: 72px;
    color: #333333;
    padding-bottom: 33px;
}

/* contact section style end */


/* footer section style start */
#footerPart {
    padding-top: 132px;

}

.footerPadding {
    padding-right: 200px !important;
    padding-left: 158px !important;
    /* border-bottom: 1px solid #fff; */
    /* border-bottom: 1px solid #404040; */
}

.footerBg {
    width: 1470px;
    background: #404040;
    margin: 0 auto;
    color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

.footerText {
    padding-top: 108px;
}

.footerText p {
    width: 374px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 75px;
}

.footerSocial {
    padding-top: 108px;
}

.footerSocial h4 {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;

}

.footerSocial h4 i {
    font-size: 16px;
    padding-right: 10px;

}

.footerSpecialSocial i {
    font-size: 24px !important;
    padding-right: 24px;

}

.footerMenu {
    padding-top: 61px;
    padding-bottom: 63px;


}

.footerRights {
    padding-top: 61px;
    padding-bottom: 63px;
}

.footerMenu ul li a {
    color: #fff;
}

.footerMenu ul {
    display: flex;

    align-items: center;
}

.footerRights h4 {
    font-size: 16px;
    font-weight: 400;
}

/* footer section style end */