/* all common css Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "Poppins", sans-serif;
}

ul,
ol {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
img{
    vertical-align: middle;
}

/* all common css End */
/* header section style start */
#headerPart{
    padding: 25px 0;
}
.nav-link{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-left: 30px;

}

.btnS{
    color:#fff;
    background: #5E3BEE;
    padding: 15px 25px;
    border-radius: 50px;
    
}
.btnS i{
    padding-left: 10px;
}

/* header section style end */


/* banner section style start */
#bannerPart{
    padding: 30px 0;
    background: #F9F9FC;
}
.bannerText{
    padding-top: 120px;
}
.bannerText h4{
    font-size: 16px;
    font-weight: 500;
    color: #5E3BEE;

}
.bannerText h1{
    font-size: 60px;
    font-weight: 700;
    color: #333333;
    line-height: 78px;
    padding: 45px 0;
}
.btnSp{
        color:#fff;
    background: #5E3BEE;
    padding: 15px 25px;
    border-radius: 50px;
    transition: .7s;

}
.btnSp:hover{
    background: transparent;
    color: #000;
}
.download i{
    margin-right: 5px;
}
.hire i{
    margin-left: 5px;
}
.hire{
    margin-right: 15px;
}
/* banner section style end */

/* counter section style start */
#counterPart{
    padding: 50px 0;
}
.counterItem h4{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}
.counterItem h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#121212;
    opacity: .7;
}
/* counter section style end */


/* service section style start */
#servicePart{
    padding: 130px 0;
}
.serviceText h4{
    font-size: 16px;
    font-weight: 500;
    color: #5E3BEE;
    line-height: 26px;

}
.serviceText h3{
    font-size: 44px;
    font-weight: 600;
    line-height: 56px;
    color: #000;
    padding-top: 22px;
    padding-bottom: 24px;
}
.serviceText p{
    width: 587px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #121212;
    opacity: .7;
    margin: 0 auto;
    padding-bottom: 62px;
}
.serviceItem{
    padding-top: 50px;
    padding-bottom: 55px;
    border-radius: 24px;
    transition: .7s;
    box-shadow: 37px 37px 80px 0 rgba(0, 0, 0, 0.1);
   

}
.serviceItem:hover{
     box-shadow: 37px 37px 80px 0 rgba(0, 0, 0, 0.1);
     background: #F9F9FC;
     

}
.serviceItem h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #000;
    padding-top: 42px;
    padding-bottom: 22px;
}
.serviceItem p{
    width: 307px;
    font-size: 16px;
    font-weight: 400px;
    color: #121212;
    opacity: .7;
    margin: 0 auto;

}
/* service section style end */


/* experience section style start */
#experiencePart{
    height: 778px;
    background: url(../img/bannerTwo.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

}
/* experience section style end */


/* client section style start */
#clientPart{
    padding: 150px 0;
}
/* client section style end */

/* header section style start */
/* header section style end */

/* header section style start */
/* header section style end */

/* header section style start */
/* header section style end */